---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ReadingTime from '../components/ReadingTime.astro';

const posts = (
    await getCollection('blog', ({ data }) => {
        return data.draft !== true;
    })
).sort((a, b) => -(a.data.pubDate.valueOf() - b.data.pubDate.valueOf()));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full select-none bg-black">
        <div class="bg-black-100 flex min-h-screen items-center justify-center">
            <!-- Card or contents that should be centered vertically -->
            <div class="max-w-prose px-10 py-12">
                <img
                    src="../logo/selfie-2.png"
                    class="h-16 w-16 object-contain"
                />
                <h1 class="font-serifBold mt-1 text-3xl text-white">
                    Ramaseshan Parthasarathy
                </h1>
                <p class="text-subText text-md mt-0.5 font-mono">
                    <i class="ri-briefcase-2-line"></i><span> DTCC</span>
                </p>
                <p class="text-subText text-md font-mono">
                    <i class="ri-map-pin-line"></i><span>
                        Chesterfield, NJ</span
                    >
                </p>
                <p
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    My full name has twenty-six characters, but you can save
                    your breath and call me Ram. I consider myself to be an
                    experienced Software Engineer with about a half a decade’s
                    worth of demonstrated experience in analysis, design,
                    development, testing, and implementation of complex software
                    applications across various domains. Seeking to leverage my
                    expertise to improve the software development process
                    wherever I work.
                </p>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    CAREER ARCHIVES
                </h2>
                <h4
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    I'm on a journey to build interesting software products and
                    take my career as a dev to the next level. Check out some of
                    the cool stuff I'm working on or have done over the years.
                </h4>
                <!--
                <time
                    class="bg-teal left-0 mb-3 inline-flex h-6 w-20 translate-y-0.5 items-center justify-center rounded-full font-sans text-xs font-semibold uppercase text-white sm:absolute sm:mb-0"
                    >Sept 2022</time
                >
                -->
                <div>
                    <p class="font-serifBold mt-2 text-lg text-white">
                        DTCC <span
                            class="text-pillText bg-pillBG translate-y-0.5 rounded font-mono text-sm"
                        >
                            &nbsp;Sept 2022&nbsp;</span
                        >
                    </p>
                    <p class="text-subText text-md font-mono">
                        DevSecOps Engineer
                    </p>
                    <p
                        class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                    >
                        DTCC provides clearing and settlement services in the
                        financial market space. Since I began, I got the
                        opportunity to write efficient, highly performant
                        features for heavily-used self-service platforms
                        spanning a multitude of applicaitons and services used
                        by DTCC engineers alongside a group of like-minded
                        indivudals. I worked on a lot of enhacements and
                        features, but here is what I'd like to mention:
                    </p>
                    <ul
                        class="mt-2 list-['—_'] px-8 text-justify font-serif text-lg leading-snug text-white"
                    >
                        <li>
                            Auotomated decisive actions based on environmental
                            data in a new data-driven information hub known as
                            Sentium. For example, Sentium can detect if server
                            node disk space is low and automatically act upon it
                            by triggering a disk clean-up job, saving more than
                            10 hours each week for the customer service team.
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="font-serifBold mt-4 text-lg text-white">
                        Edmunds GovTech <span
                            class="text-pillText bg-pillBG translate-y-0.5 rounded font-mono text-sm"
                        >
                            &nbsp;April 2021&nbsp;</span
                        >
                    </p>
                    <p class="text-subText text-md font-mono">
                        Concept Software Developer
                    </p>
                    <p
                        class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                    >
                        Edmunds GovTech, a firm that provides finance management
                        software to local governments, wanted to build a new
                        version of their software internally known as Sabre. I
                        joined a small team of devs to help modernize their
                        legacy software by building full-stack solutions using
                        Spring and Angular.
                    </p>
                    <ul
                        class="mt-2 list-['—_'] px-8 text-justify font-serif text-lg leading-snug text-white"
                    >
                        <li>
                            Throughout the year I spent here, I picked up new
                            skills across front-end and back-end. These skills
                            were then used to design, develop, and test various
                            features across the applicaiton components, fix more
                            than a quarter of outstanding bugs, and more.
                        </li>
                        <li class="mt-1">
                            Notably, I was able to contribute two niche
                            user-facing ideas that made its way into the app:
                            [1] the integration of JIRA functionality to
                            simplify issue tracking for both Product and QA, and
                            [2] the addition of context-driven process and help
                            documentation.
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="font-serifBold mt-4 text-lg text-white">
                        Stonewain Systems <span
                            class="text-pillText bg-pillBG translate-y-0.5 rounded font-mono text-sm"
                        >
                            &nbsp;June 2018&nbsp;</span
                        >
                    </p>
                    <p class="text-subText text-md font-mono">
                        Associate Software Developer
                    </p>
                    <p
                        class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                    >
                        Stonewain Systems' flagship product is a trading
                        platform that provides financial and securities lending
                        services such as real-time
                        loan/collateral/trade/securities management, accounting,
                        on-demand reporting, and more to Fortune 500 clients.
                    </p>
                    <ul
                        class="mt-2 list-['—_'] px-8 text-justify font-serif text-lg leading-snug text-white"
                    >
                        <li>
                            During my time here, I gained my first real-world
                            experience as a back-end Java developer. I started
                            out by working on critical financial reports, and
                            later transitioned to developing enterprise Java
                            business classes and Spring scheduled jobs that
                            fetch, process, and sends data to clients.
                        </li>
                    </ul>
                </div>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    FRESH ENTRIES
                </h2>
                <p
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    Let's share thoughts and ideas.
                </p>
                <section class="group relative mt-2">
                    <ul>
                        {
                            posts
                                .slice(Math.max(posts.length - 4, 0))
                                .map((post) => (
                                    <li class="mb-2">
                                        <a
                                            href={`/blog/${post.slug}/`}
                                            class="title font-serifBold text-lg text-white"
                                        >
                                            {post.data.title}
                                        </a>
                                        <div class="date text-subText font-mono text-xs capitalize">
                                            <span>
                                                <i class="ri-calendar-line" />
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                                ·
                                            </span>
                                            <ReadingTime post={post} />
                                        </div>
                                    </li>
                                ))
                        }
                    </ul>
                    <a
                        href="/blog"
                        class="text-link mt-2 inline-block font-mono"
                    >
                        <span>Notebook</span>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </section>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    PASSION
                </h2>
                <ul
                    class="mt-2 list-['﹡_'] px-5 text-justify font-serif text-lg leading-snug text-white"
                >
                    <li>Tabla Player and Teacher</li>
                    <li>Travel</li>
                    <li>One Piece</li>
                    <li>Logic</li>
                    <li>Young the Giant</li>
                </ul>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    FIND ME ON THE INTERWEB
                </h2>
                <div class="text-link mt-2 font-mono">
                    <a href="https://www.instagram.com/ramp.codes/">
                        <i class="ri-arrow-right-up-line"></i>
                        <span class="mr-1 lg:mr-4">Instagram</span>
                    </a>
                    <a href="https://www.linkedin.com/in/ramaseshanpar/">
                        <i class="ri-arrow-right-up-line"></i>
                        <span class="mr-1 lg:mr-4">LinkedIn</span>
                    </a>
                    <a href="mailto:ramaseshan.par@gmail.com">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Email</span>
                    </a>
                </div>
                <div class="text-subText mt-4 flex flex-row">
                    <i class="ri-user-voice-line ri-md"></i><span
                        class="text-md pl-2 text-justify font-mono"
                    >
                        Got any feedback or suggestions? I'd love to hear more
                        about it.</span
                    >
                </div>
            </div>
        </div>
    </body>
</html>
