---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ReadingTime from '../components/ReadingTime.astro';
import Footer from '../components/Footer.astro';

const posts = (
    await getCollection('blog', ({ data }) => {
        return data.draft !== true;
    })
).sort((a, b) => -(a.data.pubDate.valueOf() - b.data.pubDate.valueOf()));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full select-none bg-back">
        <div class="bg-back flex min-h-screen flex-col items-center justify-center">
            <!-- Card or contents that should be centered vertically -->
            <div class="max-w-full sm:max-w-prose px-5 py-12">
                <img
                    src="../logo/selfie-2.png"
                    class="h-16 w-16 object-contain"
                />

                <!--<img
                    src="../logo/R_Grid_logo-01-cropped.svg"
                    class="h-16 w-16 object-contain"
                />-->

                <h1 class="font-serifBold mt-1 text-3xl text-white">
                    Ramaseshan Parthasarathy
                </h1>
                <p class="text-subText text-md mt-0.5 font-mono">
                    <i class="ri-briefcase-2-line"></i><span> Software Engineer @ DTCC</span>
                </p>
                <p class="text-subText text-md font-mono">
                    <i class="ri-map-pin-line"></i><span>
                        Chesterfield, NJ</span
                    >
                </p>
                <p
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    Welcome to my digital home, where the power of AI intersects the art of back-end engineering!<br/><br/>

                    I'm currently pursuing a <em class="font-serifItalic">Master's in Computer Science</em> with a specialization in <em class="font-serifItalic">Artificial Intelligence</em> at UC Boulder. While my academic focus is on pushing the boundaries of intelligent systems,
                    my professional experience lies in back-end development as a full-stack engineer. I thrive on building scalable systems, designing efficient APIs, and delivering seamless software solutions.<br/><br/>

                    Feel free to explore my site and connect with me — innovation grows through collaboration. 🚀

                </p>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    FRESH ENTRIES
                </h2>
                <p
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    I occasionally like to write about stuff.
                </p>
                <section class="group relative mt-2">
                    <ul>
                        {
                            posts
                                .slice(0,4)
                                .map((post) => (
                                    <li class="mb-2">
                                        <a
                                            href={`/blog/${post.slug}/`}
                                            class="title font-serifBold text-lg text-white"
                                        >
                                            {post.data.title}
                                        </a>
                                        <div class="date text-subText font-mono text-xs capitalize">
                                            <span>
                                                <i class="ri-calendar-line" />
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                                ·
                                            </span>
                                            <ReadingTime post={post} />
                                        </div>
                                    </li>
                                ))
                        }
                    </ul>
                    <a
                        href="/blog"
                        class="text-action mt-2 inline-block font-mono"
                    >
                        <span>Notebook</span>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </section>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    PASSIONS
                </h2>
                <ul
                    class="mt-2 list-['﹡_'] px-5 text-justify font-serif text-lg leading-snug text-white"
                >
                    <li>Tabla Player and Teacher<sup>†</sup></li>
                    <li>Travel</li>
                    <li>One Piece</li>
                    <li>Logic</li>
                    <li>Young the Giant</li>
                </ul>
                <br/>
                <span class = "text-justify font-serif text-lg leading-snug text-white font-serifItalic"><sup>†</sup>I've been playing Tabla for 14+ years under the guidance of Dr. Pratik Devasthale,
                and obtained a Visharad Purna (equivalent of Bachelor's in Music). Currently teaching out of my home for 2+ years.</span>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    ON MY SHELF
                </h2> <p
                    class="mt-2 text-justify font-serif text-lg leading-snug text-white"
                >
                    Fave reads in no particular order.
                </p>
                <ul
                    class="mt-2 list-['﹡_'] px-5 text-justify font-serif text-lg leading-snug text-white"
                >
                    <li><em class="font-serifItalic">The Master: The Long Run and Beautiful Game of Roger Federer</em>, Christopher Clarey</li>
                    <li><em class="font-serifItalic">The Golden Spoon</em>, Jessa Maxwell</li>
                    <li><em class="font-serifItalic">The Internet Con: How to Seize the Means of Computation</em>, Cory Doctrow</li>
                    <li><em class="font-serifItalic">A Midsummer's Equation</em>, Keigo Higashino</li>
                    <li><em class="font-serifItalic">Salvation of a Saint</em>, Keigo Higashino</li>
                </ul>
                <h2 class="text-header mt-4 font-mono text-lg font-bold">
                    FIND ME ON THE INTERWEB
                </h2>
                <div class="text-action mt-2 font-mono">
                    <a href="https://www.linkedin.com/in/ramaseshanpar/">
                        <i class="ri-arrow-right-up-line"></i>
                        <span class="mr-1 lg:mr-4">LinkedIn</span>
                    </a>
                    <a href="mailto:ramaseshan.par@gmail.com">
                        <i class="ri-arrow-right-up-line"></i>
                        <span class="mr-1 lg:mr-4">Email</span>
                    </a>
                    <a href="https://www.instagram.com/ramp.codes/">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Instagram</span>
                    </a>
                </div>
                <Footer customCss=""/>
            </div>
        </div>
    </body>
</html>
