---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ReadingTime from '../components/ReadingTime.astro';
import Footer from '../components/Footer.astro';

const posts = (
    await getCollection('blog', ({ data }) => {
        return data.draft !== true;
    })
).sort((a, b) => -(a.data.pubDate.valueOf() - b.data.pubDate.valueOf()));
---
<!doctype html>
<html lang="en">
   <head>
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body class="custom-bg no-select">
      <!-- Content Wrapper -->
      <div class="content flex min-h-screen flex-col justify-center items-center px-4 sm:px-6 lg:px-8">
         <!-- Card -->
         <div class="card max-w-screen-md mx-auto rounded-lg px-6 py-8 sm:px-10 sm:py-12">
            <div class="flex items-center justify-between">
               <!-- Logo -->
               <img
                  src="../logo/rp-logo_line.svg"
                  alt="Logo"
                  class="w-10 h-10 object-contain"
                  />
               <!-- Search Icon Button -->
               <!--
                  <button class="search-btn p-2 text-body hover:text-action transition-colors">
                      <i class="ri-search-2-line text-2xl"></i>
                  </button>
                  -->
            </div>
            <!-- Name -->
            <h1 class="font-serifBold mt-4 text-teal text-3xl">
               Hi there, I'm Ram!
            </h1>
            <!-- About -->
            <p class="mt-6 text-justify font-body text-sm leading-snug">
               I'm currently pursuing a <em class="font-serifBoldItalic">Master's in Computer Science</em> with a specialization in
               <em class="font-serifBoldItalic">Artificial Intelligence</em> at UC Boulder. While my academic focus is on pushing the
               boundaries of intelligent systems, my professional experience lies in back-end development as a full-stack engineer.
               I thrive on building scalable systems, designing efficient APIs, and delivering seamless software solutions.<br/><br/>
               Outside of work, I've been practicing Tabla under the guidance of Dr. Pratik Devasthale for ~15 years. As part of that
               journey, I've obtained a Visharad Purna (the equivalent of a Bachelors in Music). I began teaching students out of my
               home for ~2 years now.<br/><br/>
               Explore my site and connect with me — innovation grows through collaboration!
            </p>
            <!-- Grid Container -->
            <div class="mt-6 grid sm:grid-cols-2 md:grid-cols-3 gap-5">
               <div class="rounded overflow-hidden shadow-lg ">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Work</div>
                     <p class="text-gray-700 font-body text-sm">SDE @ DTCC</p>
                  </div>
               </div>
               <div class=" rounded overflow-hidden shadow-lg">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Location</div>
                     <p class="text-gray-700 font-body text-sm">Chesterfield, NJ</p>
                  </div>
               </div>
               <div class=" rounded overflow-hidden shadow-lg">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Comfort Tech Stack</div>
                     <p class="text-gray-700 font-body text-sm">Spring Boot, Angular</p>
                  </div>
               </div>
               <div class=" rounded overflow-hidden shadow-lg">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Affiliations</div>
                     <p class="text-gray-700 font-body text-sm">麦わら大船団/Hufflepuff<br/>Ovo-lacto Vegetarian</p>
                  </div>
               </div>
               <div class=" rounded overflow-hidden shadow-lg">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Passions</div>
                     <p class="text-gray-700 font-body text-sm">Travel, Hiking, Watches, Figurines</p>
                  </div>
               </div>
               <div class="rounded overflow-hidden shadow-lg">
                  <div class="px-6 py-4">
                     <div class="font-serifBold text-md mb-2">Last Read</div>
                     <p class="text-gray-700 font-body text-sm"><i>Salvation of a Saint</i>, Keigo Higashano</p>
                  </div>
               </div>
            </div>
            <!-- Fresh Entries -->
            <h2 class="text-header mt-8 text-lg font-serifBold">Fresh Entries</h2>
            <p class="mt-2 font-body text-sm leading-snug">
               I occasionally like to write about stuff.
            </p>
            <section class="group relative mt-4">
               <ul class="space-y-4">
                  {posts.slice(0, 4).map((post) => (
                  <li class="mb-2">
                     <a
                        href={`/blog/${post.slug}/`}
                        class="block text-md font-serifBold hover:underline"
                        >
                     {post.data.title}
                     </a>
                     <div class="date text-subText font-mono text-xs">
                        <span>
                           <i class="ri-calendar-line"></i>
                           <FormattedDate date={post.data.pubDate} />
                           ·
                           <ReadingTime post={post} />
                        </span>
                     </div>
                  </li>
                  ))}
               </ul>
               <a href="/blog" class="text-action text-sm mt-2 inline-block font-body">
               <span>Notebook</span>
               <i class="ri-arrow-right-line"></i>
               </a>
            </section>
            <Footer customCss="" />
         </div>
      </div>
   </body>
</html>
