---
interface Props {
    title: String;
    code: String;
}
const { title, code } = Astro.props;
---

<figure data-rehype-pretty-code-figure>
    <!--<div style="position: relative;">

    </div>-->
     <figcaption data-rehype-pretty-code-title="" data-language="mermaid" data-theme="" tabindex="0">
            {title}.mermaid
    </figcaption>
    <!--<pre style="background-color:hsl(240, 3%, 8%);color:#F5F5F5" class = "mermaid" data-raw-mermaid={code}>
        <code>
            {code}
        </code>
    </pre>-->
    <pre class="mermaid" style="background-color:hsl(240, 3%, 8%);color:#F5F5F5" data-raw-mermaid={code}>
        {code.trim()}
    </pre>
</figure>
<script>
  import mermaid from 'mermaid';
  // Initialize mermaid
  mermaid.initialize({
    startOnLoad: true,
    theme: 'dark',
    themeVariables: {
        primaryColor: '#000000',
        primaryTextColor: '#e0e0e0',
        primaryBorderColor: '#a0a0a0',
        fontFamily: 'PP Mori, sans-serif'
    },
    securityLevel: 'loose',
    htmlLabels: true,
    flowchart: {
      useMaxWidth: true,
      htmlLabels: true,
      curve: 'basis'
    }
  });
</script>
