---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import ReadingTime from '../../components/ReadingTime.astro';
import Footer from '../../components/Footer.astro';

const posts = (
    await getCollection('blog', ({ data }) => {
        return data.draft !== true;
    })
).sort((a, b) => -(a.data.pubDate.valueOf() - b.data.pubDate.valueOf()));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <!--<body class="relative h-full w-full text-body font-sans before:absolute before:inset-0 before:-z-10 before:bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] before:[background-size:16px_16px] bg-[#f5f5f5] before:[mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] before:[mask-size:cover]">-->
    <body class="relative h-full w-full text-body font-sans before:absolute before:inset-0 before:-z-10 before:bg-[linear-gradient(transparent,transparent_15px,#e5e7eb_15px,#e5e7eb_16px),linear-gradient(90deg,transparent,transparent_15px,#e5e7eb_15px,#e5e7eb_16px)] before:[background-size:16px_16px] bg-[#f5f5f5] before:[mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] before:[mask-size:cover]">
        <div class="flex min-h-screen items-center justify-center px-4 sm:px-6 lg:px-8">
            <!-- Content Wrapper -->
            <div class="content flex min-h-screen flex-col justify-center">
                <!-- Card or contents that should be centered vertically -->
                <div class="card max-w-screen-md mx-auto rounded-lg px-6 py-8 sm:px-10 sm:py-12 bg-opacity-90 bg-gray-800">
                    <!-- Back Link -->
                    <div class="flex items-center mb-1">
                        <a href="/" class="text-teal text-2xl mr-2">
                            <i class="ri-arrow-left-line"></i>
                        </a>
                        <span class="font-serifBold text-3xl">
                            Notebook
                        </span>
                    </div>
                    <!-- Description -->
                    <h4 class="text-subText px-8 mb-2 font-body text-sm leading-snug">
                        A place to share thoughts and ideas.
                    </h4>
                    <!-- Posts Section -->
                    <section class="group relative px-4">
                        <ul class="space-y-4">
                            {
                                posts.map((post) => (
                                    <li>
                                        <a
                                            href={`/blog/${post.slug}/`}
                                            class="block px-4 bg-gray-700 rounded-lg hover:bg-gray-600 transition-colors"
                                        >
                                            <h4 class="font-serifBold text-lg text-white mb-1">
                                                {post.data.title}
                                            </h4>
                                            <div class="flex items-center text-subText font-mono text-xs capitalize">
                                                <i class="ri-calendar-line mr-1"></i>
                                                <FormattedDate date={post.data.pubDate} />
                                                <span class="mx-1">·</span>
                                                <ReadingTime post={post} />
                                            </div>
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </section>
                    <!-- Footer -->
                    <Footer customCss="mt-8" />
                </div>
            </div>
        </div>
    </body>
</html>
