---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import ReadingTime from '../../components/ReadingTime.astro';
import Footer from '../../components/Footer.astro';

const posts = (
    await getCollection('blog', ({ data }) => {
        return data.draft !== true;
    })
).sort((a, b) => -(a.data.pubDate.valueOf() - b.data.pubDate.valueOf()));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full select-none bg-back">
        <div class="bg-back flex min-h-screen items-center justify-center">
            <!-- Card or contents that should be centered vertically -->
            <div class="max-w-fit px-5 py-12">
                <a href="/"
                    ><i class="ri-arrow-left-line text-action text-2xl"></i>
                </a>
                <span class="font-serifBold text-3xl text-white">
                    Notebook</span
                >
                <h4
                    class="text-subText px-7 text-justify font-serif text-lg leading-snug"
                >
                    A place to share thoughts and ideas.
                </h4>
                <section class="group relative mt-2 px-7">
                    <ul>
                        {
                            posts.map((post) => (
                                <li class="mb-2">
                                    <a href={`/blog/${post.slug}/`}>
                                        <h4 class="title font-serifBold text-lg text-white">
                                            {post.data.title}
                                        </h4>
                                        <div class="date text-subText font-mono text-xs capitalize">
                                            <span>
                                                <i class="ri-calendar-line" />
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                                ·
                                            </span>
                                            <ReadingTime post={post} />
                                        </div>
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </section>
                <Footer customCss=""/>
            </div>
        </div>
    </body>
</html>
