---
import type { CollectionEntry } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Footer from '../components/Footer.astro';
import '../styles/blogpost.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, author } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <script>
            let copyButtonIcon =
                '<i class="ri-file-copy-line ri-xl text-action flex max-sm:hidden"></i>';
            let codeBlocks = Array.from(document.querySelectorAll('pre'));
            let figCaptions = Array.from(
                document.querySelectorAll('figcaption'),
            );

            for (let [index, codeBlock] of codeBlocks.entries()) {
                let figCaption = figCaptions.at(index);

                let wrapper = document.createElement('div');
                wrapper.style.position = 'relative';

                let copyButton = document.createElement('button');
                copyButton.className = 'copy-code';
                copyButton.innerHTML = copyButtonIcon;

                if (figCaption !== undefined) {
                  figCaption.setAttribute('tabindex', '0');
                  figCaption.appendChild(copyButton);

                  // wrap codebock with relative parent element
                  codeBlock?.parentNode?.insertBefore(wrapper, figCaption);
                  wrapper.appendChild(figCaption);
                }

                copyButton.addEventListener('click', async () => {
                    await copyCode(codeBlock, copyButton);
                });
            }

            async function copyCode(block:any, button:any) {
                let code = block.querySelector('code');
                let text = code.innerText;

                await navigator.clipboard.writeText(text);

                button.innerText = 'Code Copied!';

                if (button.innerText === 'Code Copied!') {
                    button.style.paddingTop = '0.3rem';
                }

                setTimeout(() => {
                    button.innerHTML = copyButtonIcon;
                    if (button.innerHTML === copyButtonIcon) {
                        button.style.paddingTop = '0.5rem';
                    }
                }, 700);
            }
        </script>
    </head>
    <body class="h-full select-none bg-black">
        <div
            class="bg-black-100 flex min-h-screen flex-col items-center justify-center"
        >
            <!-- Card or contents that should be centered vertically -->
            <div class="max-w-full py-12 sm:max-w-prose">
                <div class="">
                    <div class="items-start">
                        <a href="/blog"
                            ><i
                                class="ri-arrow-left-line text-action ri-xl back"
                            ></i>
                        </a>
                        <h1 class="font-serifBold mt-1 text-white">
                            <span class="text-3xl">{title}</span>
                        </h1>
                    </div>
                    <div class="text-gray text-md stats px-9 font-mono">
                        <span
                            ><i class="ri-calendar-line"></i>
                            <FormattedDate date={pubDate} />
                        </span>
                        ·
                        <span>
                            {
                                author && author.includes(',') && (
                                    <i class="ri-group-line"></i>
                                )
                            }
                            {
                                author && !author.includes(',') && (
                                    <i class="ri-user-line"></i>
                                )
                            }
                            {author}
                        </span>
                    </div>

                    {
                        updatedDate && (
                            <div class="text-gray text-md stats updated  px-9 font-mono capitalize">
                                <i class="ri-history-line" />
                                <span>
                                    Modified:
                                    <FormattedDate date={updatedDate} />
                                </span>
                            </div>
                        )
                    }
                </div>
                <slot />
                <Footer customCss=" ml-8 mr-9" />
            </div>
        </div>
    </body>
</html>
